################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Serilog_Demo/v17/DocumentLayout.json
/.vs
